<!DOCTYPE html>
<html>
<head>
	{% if title %}
      <title>{{ title }} - Aarambh library</title>
      {% else %}
      <title>Welcome to Aarambh library</title>
  {% endif %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-   ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/signup.css">

</head>
<body>
	<div class="one">LOGO</div>
	<div class="two"><h1>Sign Up</h1></div>
	<div class="three"><h5>Already have an account?<a href="#">Log in</a></h5></div>


    <div class="container">
      <form>
            <div class="row">
               <div class="vl">
                  <span class="vl-innertext">or</span>
               </div>

               <div class="col">
                    <a href="#" class="fb btn1">
                       <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn1">
                       <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn1"><i class="fa fa-google fa-fw">
                       </i> Login with Google+
                    </a>
              </div>

           <form>
			   <div class="col">
                  <div class="hide-md-lg">
                     <p>Or Sign In Manually:</p>
                  </div>



				 <div class="inputBox">
                  <div class="row">
						<div class="col-50">
							<input type="text" name="First Name" required>
						    <label>First Name</label>
						</div>

		                <div class="inputBox">
                            <div class="col-50">
								<input type="text" name="Last Name" required>
						        <label>Last Name</label></div></div>
				  </div>
		               </div>
		               <div class="inputBox">
                                <input type="text" name="email" required>
                                <label>Email</label>
                       </div>
		               <div class="inputBox">
                                <input type="tel" name="Phone Number" required>
                                <label>Phone Number</label>
                       </div>
		               <div class="inputBox">
                                <input type="Password" name="Password" required>
                                <label >Password</label>
                       </div>
                       <div class="inputBox">
                                <input type="password" name="Confirm password" required>
                                <label>Confirm password</label>
                       </div>

		               <input type="submit" class="btn btn-primary" value="Sign Up">
                  </div>
			 </form>




            </div>
   </form>
</div>



	</body>
</html>
